.sidebar{
    width: 18%;
    min-height: 100vh;
    border: 1.5px solid #e60a0a;
    border-top: 0;
    font-size: max(1vh,10px);
    position: absolute; 
    background-color: aqua;
}

.sidebar-option{
    border: 1px solid #e71717;
    padding-top: 50px;
    padding-left: 20%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.sidebar-option{
    display: flex;
    align-items: center;
    gap: 12px;
    border: 1px solid #a31818;
    border-right:0;
    
    padding:8px 10px;
    border-radius: 3px 0px 0px 3px;
    cursor: pointer;
}
.sidebar-option img{
    width: 30px;
}
.sidebar-option.active{
    background-color: #0ea9c4;
    border-color: red;
}
@media (max-width:900px){
    .sidebar-option p{
        display: none;
    }
}