.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 4%;
    background-color: aqua;
    
}
.navbar .logo{
    margin: 10px 20px;
    width: max(10%,80px);
}
.navbar .profile{
    width:50px;
    position: absolute ;
    left: 90%;
}